/**
 * @file
 * Requires 1 slide at a time, use e.g. optionset Fade.
 *
 * Tips: Use media queries to disable the animation at certain breakpoint.
 * The animation duration is overriden by slideSpeed option, adjust it.
 *
 * @see /lory/css/components/lory.fade.css
 */

@keyframes loryFadeIn {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loryFadeInBefore {
  0% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/** Only reasonable for large monitors, left to swipe for small devices. */
@media screen and (min-width: 64em) {
  .lory.lory--skin--fade .slide.is-before {
    animation: loryFadeInBefore 8s linear 1;
  }

  .lory.lory--skin--fade .slide.is-current {
    /** The animation duration is overriden by slideSpeed defined by UI. */
    animation: loryFadeIn 6s ease-in 1;
  }
}
