/**
 * @file
 * Provides basic thumbnail asnavfor zoom in skin.
 *
 * Main display has class "lory--main".
 * Navigation/thumbnail has class "lory--nav".
 *
 * Tips: Be sure to use odd number of total when centerMode on.
 */

.lory.lory--skin--zoomin .lory__frame {
  /** Reduce gaps due to 6px image borders below. */
  margin: 0 -6px;
}

.lory.lory--skin--zoomin .lory__track {
  padding-bottom: 40px;
  padding-top: 40px;
}

.lory.lory--skin--zoomin .slide {
  transition: transform 0.4s ease-in-out 0.2s;
  backface-visibility: hidden;
}

.lory.lory--skin--zoomin .slide.is-current {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.3);
  transition-delay: 0s;
}

.lory.lory--skin--zoomin.lory--nav .slide.is-current::before {
  content: '';
  display: block;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom-color: #fff;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  top: -5px;
  width: 0;
  z-index: 1;
}

.lory.lory--skin--zoomin .slide.is-current img {
  border-color: #fff;
}

.lory-wrapper--tn-top .lory--skin--zoomin.lory--nav .slide.is-current::before {
  top: auto;
  bottom: -6px;
  border-top: 8px solid #fff;
  border-bottom: 0;
}
