/**
 * @file
 * Image and caption are displayed side by side.
 *
 * Detailed stylings are all yours, get yourself dirty.
 */

@media (min-width: 64em) {
  .lory.lory--skin--split .slide__caption {
    left: auto;
    margin-left: 48%;
    padding: 20px 30px;
    position: relative;
    text-align: left;
    top: auto;
    transform: none;
    width: auto;
    z-index: 1;
  }

  .lory.lory--skin--split .slide .slide__media {
    float: left;
    width: 48%;
  }

  .lory.lory--skin--split .slide__caption .clearfix::after {
    clear: none;
  }
}
