/**
 * @file
 */

/** Layout. */
/** Adjust base 3d plane dimensions accrodingly. */
.lory.lory--skin--slicebox .lory__frame {
  width: 280px;
  height: 158px;
}

@media screen and (min-width: 640px) {
  /** Adjust base 3d plane dimensions accrodingly. */
  .lory.lory--skin--slicebox .lory__frame {
    width: 600px;
    height: 338px;
  }
}

@media screen and (min-width: 768px) {
  /** Layout. */
  /** Adjust base 3d plane dimensions accrodingly. */
  .lory.lory--skin--slicebox .lory__frame {
    width: 640px;
    height: 360px;
  }
}
