/**
 * @file
 * Best with 1 slide at a time to have enough space for captions.
 */

@media (min-width: 64em) {
  .lory--skin--fullwidth .slide__title {
    color: rgba(255, 255, 255, .9);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .2);
  }
}
