/**
 * @file
 * Best with Infinite 1, placed at external region.
 *
 * Detailed stylings are all yours, get yourself dirty.
 */

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
}

body {
  overflow: hidden;
}

.lory-wrapper--fullscreen,
.lory--skin--fullscreen {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.lory-wrapper--fullscreen,
.lory--skin--fullscreen,
.lory--skin--fullscreen .lory__frame,
.lory--skin--fullscreen .b-loaded {
  height: 100%;
  min-height: 100%;
}

.lory-wrapper--fullscreen {
  z-index: 997;
}

.lory--skin--fullscreen {
  background: #000;
  z-index: 998;
}

.lory-wrapper--fullscreen .lory--nav {
  position: fixed;
  z-index: 999;
}

.lory-wrapper--fullscreen.lory-wrapper--tn-top .lory--nav {
  bottom: auto;
  top: 0;
  z-index: 999;
}

/** @todo better way than over-specificity to support nested lorys. */
.lory--skin--fullscreen .lory__frame,
.lory--skin--fullscreen .lory__track,
.lory--skin--fullscreen .lory__slide,
.lory--skin--fullscreen .slide__content,
.lory--skin--fullscreen .media,
.lory--skin--fullscreen .slide__media {
  /* height: 100% !important; */
  min-height: 320px;
}

.lory--skin--fullscreen .slide__caption {
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 98%;
  z-index: 999;
}

.lory--skin--fullscreen .slide__caption .slide__caption {
  position: relative;
}

.lory--skin--fullscreen .lory__arrows button,
.lory--skin--fullscreen .lory__dots {
  position: fixed;
  z-index: 1001;
}

/** Nested lory. */
.lory--skin--fullscreen .lory .lory__arrows button,
.lory--skin--fullscreen .lory .lory__dots {
  position: absolute;
}

.lory--skin--fullscreen .lory__dots {
  bottom: 10px;
}

.lory--skin--fullscreen .slide__title {
  color: #fff;
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}

/** Nested lorys overrides. */
.lory--skin--fullscreen .lory {
  position: relative;
}

.lory--skin--fullscreen .lory__frame .lory__frame {
  height: auto !important;
  min-height: 40px;
}

@media (min-width: 65em) {
  .lory--skin--fullscreen .slide__caption {
    padding-top: 10%;
  }
}

@media (min-width: 90em) {
  .lory--skin--fullscreen .slide__caption {
    margin-left: -585px;
    width: 1170px;
  }
}

/* Views UI Preview */
body.path-admin {
  overflow: visible;
}

.path-admin .lory-wrapper--fullscreen,
.path-admin .lory-wrapper--fullscreen .lory,
.path-admin .lory--skin--fullscreen,
.path-admin .lory--skin--fullscreen .slide__media {
  min-height: 620px;
  position: relative;
}

.path-admin .lory-wrapper--fullscreen .lory--nav {
  min-height: 80px;
  position: absolute;
}

.path-admin .lory--skin--fullscreen .lory__frame {
  min-height: 120px;
}
