/**
 * @file
 * Provides basic thumbnail asnavfor skin.
 *
 * Main display has class "lory--main".
 * Navigation/thumbnail has class "lory--nav".
 *
 * Tips: Be sure to use odd number of total when centerMode on.
 */

.lory.lory--nav {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  z-index: 9;
}

.lory.lory--nav .slide {
  /** Don't add margin/padding to .slide. Use .slide__content instead. */
  /** The reason is slide calculation broken as of this writing: 1/9/17. */
  margin: 0;
  overflow: visible;
}

.lory.lory--nav .slide img {
  border: 6px solid transparent;
}

/**
 * Thumnails layout.
 */
.lory-wrapper--reel .lory--main.is-dots,
.lory-wrapper--tn-top .lory.lory--nav {
  margin-bottom: 0;
}

.lory-wrapper--tn-top .lory.lory--nav .lory__frame {
  padding-bottom: 18px;
}

.lory-wrapper--fullwidth .lory--main .lory__dots {
  bottom: 15px;
}

.lory-wrapper--tn-overlay .lory--main .lory__dots {
  bottom: -30px;
}
