/**
 * @file
 * Requires 1 slide at a time, use e.g. optionset Fade.
 *
 * Tips: Use media queries to disable the animation at certain breakpoint.
 * The animation duration is overriden by slideSpeed option, adjust it.
 *
 * @see /lory/css/components/lory.fade.css
 */

@keyframes loryKenburnsIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  35% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    /** Must be similar/ larger to the start of before to avoid flash bang. */
    opacity: 1;
  }
}

@keyframes loryKenburnsInBefore {
  0% {
    opacity: .9;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

/** Only reasonable for large monitors, left to swipe for small devices. */
@media screen and (min-width: 64em) {
  .lory.lory--skin--kenburnsin .slide.is-before {
    animation: loryKenburnsInBefore 8s ease-out 1;
  }

  .lory.lory--skin--kenburnsin .slide.is-current {
    /** The animation duration is overriden by slideSpeed defined by UI. */
    animation: loryKenburnsIn 6s ease-in 1;
    transform: scale(1.2);
  }
}
