/**
 * @file
 * Provides basic thumbnail asnavfor skin.
 *
 * Main display has class "lory--main".
 * Navigation/thumbnail has class "lory--nav".
 *
 * Tips: Be sure to use odd number of total when centerMode on.
 */

.lory.lory--skin--reel {
  background: rgba(0, 0, 0, .4);
}

.lory.lory--skin--reel .lory__frame {
  margin: 0 40px;
}

.lory.lory--skin--reel .slide {
  transition: all 0.4s ease-in .1s;
}

.lory.lory--skin--reel .slide img {
  border: 8px solid transparent;
}

.lory.lory--skin--reel .slide.is-current img {
  border-color: #fff;
}

.lory.lory--skin--reel .lory__arrows button {
  background: none;
}
