/**
 * @file
 * Base CSS for lory to work.
 *
 * Notice! Lory is dependent on expected CSS, if things are broken, see CSS.
 */

.lory,
.lory * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lory img {
  height: auto;
}

.lory img,
.lory iframe {
  border: 0;
  display: block;
  max-width: 100%;
  width: 100%;
}

.lory,
.lory__frame,
.lory-wrapper {
  margin: 0 auto;
  position: relative;
}

.lory--nav {
  z-index: 1;
}

.lory-wrapper::after {
  content: '';
  clear: both;
  display: table;
}

.lory .lory__frame {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
}

.lory .lory__track,
.lory .lory__dots {
  margin: 0;
  padding: 0;
}

.lory .lory__track {
  display: block;
  /** Makes sure static to not break fade in out, and ken burns effects. */
  position: static;
  white-space: nowrap;
  /** Overrides core elements.css which breaks IE9. */
  word-wrap: normal;
}

.lory.is-dots {
  padding-bottom: 40px;
}

.lory .lory__dots {
  position: absolute;
  width: 100%;
  z-index: 9;
}

.lory .lory__slide,
.lory .lory__dots li {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2;
  list-style: none;
  transform: translateZ(0);
  vertical-align: top;
}

.lory .lory__slide.is-current {
  visibility: visible;
}

.lory .lory__slide:focus,
.lory__arrows button:focus {
  outline: 0;
}

.lory .slide__content {
  display: block;
  max-width: 100%;
  white-space: normal;
}

/*
.is-draggable .slide__caption {
  pointer-events: none;
}

.lory.is-draggable .slide__caption * {
  pointer-events: auto;
}
*/
