/**
 * @file
 *
 * Complex layout needs custom refinement for mobile, hence it is reasonable
 * to apply for Desktop up. Adjust mobile version accordingly.
 */

/** Prevents stacking slides before initialization. */
.lory--fullwidth .lory__slide {
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.lory--fullwidth .lory__slide:first-child,
.lory--on .lory__slide {
  position: relative;
  visibility: visible;
}

.lory.lory--fullwidth .lory__frame,
.lory.lory--fullwidth .lory__slide {
  width: 100%;
}

.lory .lory__frame .is-flexbox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.lory .slide .field--type-image img,
.lory .slide .field--type-image {
  float: none;
  margin: 0;
}

/** Arrows. */
.lory__prev {
  left: 0;
}

.lory__next {
  right: 0;
}

/** layering. */
.lory .slide {
  z-index: 0;
}

.lory .slide.is-after + .slide {
  z-index: 1;
}

.lory .is-before,
.lory .is-after {
  z-index: 2;
}

.lory .slide.is-current {
  visibility: visible;
  z-index: 3;
}

/**
 * Variable width.
 */
.lory.lory--autowidth .lory__frame {
  width: 100%;
}

.lory.lory--autowidth .lory__track {
  display: inline-block;
  position: relative;
  width: auto;
}

.lory.lory--autowidth .slide .media {
  height: auto;
  overflow: visible;
}

.lory.lory--autowidth .slide {
  min-width: 60px;
  width: auto;
}

@media (min-width: 767px) {
  .lory-wrapper--tn-overlay .lory--main {
    margin-left: auto;
    margin-right: auto;
  }

  .lory-wrapper--tn-overlay .lory--nav {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
  }

  .lory-wrapper--tn-over-top .lory--nav {
    height: auto;
    max-height: none;
    width: 100%;
  }

  .lory-wrapper--tn-over-bottom .lory--nav {
    bottom: 0;
    height: auto;
    max-height: none;
    position: absolute;
    top: auto;
    width: 100%;
  }

  .lory--fullwidth .slide__caption {
    height: auto;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 20%;
    transform: translateX(-50%);
    width: 82%;
    /** Prevents stacking captions with Fade, Ken Burns. */
    z-index: -1;
  }

  /** Only show the caption when it is current slide. */
  .lory--fullwidth .is-current .slide__caption,
  .lory--fullwidth .is-focus .slide__caption {
    z-index: 9;
  }

  .lory--fullwidth.is-paused .is-current .slide__caption {
    z-index: -1;
  }
}
