/**
 * @file
 * Lory is designed to be built on top CSS mostly, not inline style attribute.
 */

@keyframes loryFadeCaption {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/** Prevents abrupt height changes with adaptive height. */
.is-adaptive-height .lory,
.is-adaptive-height .lory__track,
.lory__dots li {
  transition: all 0.6s ease-in 0.1s;
}

/** Draggable. */
.is-draggable .lory__track {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.is-draggable .lory__track:active,
.is-draggable .lory__track:active .slide {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/** Arrows. */
.lory__arrows button {
  background: rgba(0,0,0,.4);
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 60px;
  line-height: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  text-align: center;
  text-indent: -999px;
  width: 42px;
  z-index: 9;
}

.lory__arrows button[disabled] {
  cursor: default;
  pointer-events: none;
  opacity: 0;
}

.lory__arrows button::before {
  color: #fff;
  content: '\276e';
  display: block;
  font-size: 42px;
  font-size: 2.75rem;
  text-indent: 0;
}

.lory__arrows .lory__next::before {
  content: '\276f';
}

/** Dots. */
.lory .lory__dots {
  text-align: center;
}

.lory .lory__dots li {
  background-color: rgba(0,0,0,.2);
  border: 2px solid rgba(255,255,255,.6);
  border-radius: 50%;
  cursor: pointer;
  font-size: 0;
  height: 16px;
  margin: 5px;
  text-indent: -9999px;
  width: 16px;
}

.lory .lory__dots li.is-current {
  background-color: #ff6d2c;
  border-color: #fff;
}

/** Blazy media, with absolute-positioned slides, layering is critical. */
.lory .media__icon--play {
  z-index: 0;
}

.lory .is-current .media__icon--play {
  z-index: 9;
}

.lory .lory__arrows .is-disabled {
  pointer-events: none;
  opacity: 0;
}

/** Pause animation, when interrupted, or hovered. */
.lory.is-autoplay.is-interrupted .lory__track,
.lory.is-autoplay.is-interrupted .lory__track .slide,
.lory.is-autoplay .lory__track:hover,
.lory.is-autoplay .lory__track:hover .slide {
  animation-play-state: paused;
}

/** Stop animation, when media player is playing. */
.lory.is-paused .lory__track,
.lory.is-paused .lory__track .slide {
  animation: 0;
  opacity: 1;
  visibility: visible;
}

/* .lory--fullwidth.is-paused .lory__frame .slide.is-before,
.lory--fullwidth.is-paused .lory__frame .slide.is-after, */
.lory--fullwidth.is-paused .lory__frame .slide .slide__caption {
  opacity: 0;
  visibility: hidden;
}

.lory--fullwidth {
  font-size: 100%;
}

.lory--fullwidth .slide__caption {
  font-size: 22px;
  font-size: 1.375rem;
}

.lory--fullwidth .slide__title {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}

/** Safari: Excludes blocking elements for focusOnSelect option.
@todo: Remove when focusOnSelect works correctly for Chrome.
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .lory--nav img,
  .is-selectable img {
    pointer-events: none;
  }

  .lory--nav .is-focus img,
  .is-selectable .is-focus img {
    pointer-events: auto;
  }
}
*/
