/**
 * @file
 * Provides common CSS rules for fade transition effects: Fade and Ken Burns.
 *
 * Tips:
 * Best with slidesToShow 1, autoplay ON, use e.g. optionset Fade.
 * Fade effect is only reasonable for large monitors.
 * Use media queries to disable the CSS animation at certain breakpoint.
 * This way large monitors will fade, small devices will slide/ use swipe.
 */

.lory--fade.is-interrupted .lory__track {
  transition: none !important;
}

/** Only reasonable for large monitors, left to swipe for small devices. */
@media screen and (min-width: 64em) {
  .lory.lory--fade .lory__track {
    position: static;
    /** Intentional !important as otherwise broken fader. */
    left: 0 !important;
    transform: none !important;
    transition: none !important;
    width: 100% !important;
  }

  .lory.lory--fade .slide {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: none;
    width: 100%;
    z-index: -1;
  }

  .lory.lory--fade .slide.is-before {
    z-index: 1;
  }

  .lory.lory--fade .slide.is-after {
    z-index: 0;
  }

  .lory.lory--fade .slide.is-current {
    height: auto;
    opacity: 1;
    position: relative;
    visibility: visible;
    z-index: 3;
  }

  .lory.lory--fade .slide.is-current .slide__caption {
    animation: loryFadeCaption 4s ease-in;
  }
}
