/**
 * @file
 * Provides common CSS rules for slicebox transition effects.
 *
 * Tips:
 * Always use small sizes for animated elements to minimize repainting.
 * Use media queries to adjust dimensions at its dependent skins.
 */

.lory.lory--slicebox {
  overflow: hidden;
  padding: 60px 0;
  transform: translate3d(0, 0, 0);
}

.lory-wrapper--tn-top.lory-wrapper--slicebox .lory.lory--nav {
  margin-bottom: -60px;
}

.lory-wrapper--tn-top.lory-wrapper--slicebox .lory.lory--nav .lory__frame {
  padding: 0;
}

.lory--slicebox .lory__perspective {
  font-size: inherit;
  height: 100%;
  left: 50%;
  line-height: 1;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  width: 100%;
}

.lory--slicebox .lory__perspective > div {
  position: absolute;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.lory--slicebox .lory__slice {
  margin: 0;
  display: block;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
}

.lory.lory--slicebox .slide.is-current,
.lory--slicebox.is-animating .lory__perspective {
  opacity: 1;
  visibility: visible;
  z-index: 6;
}

.lory--slicebox .lory__perspective,
.lory.lory--slicebox.is-animating .slide,
.lory.lory--slicebox .is-current .slide__media > canvas {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

/**
 * Overrides Slick for Slicebox.
 */
.lory.lory--slicebox .lory__frame {
  max-width: 100%;
  overflow: visible;
  perspective: 1000px;
  position: relative;
}

.lory.lory--slicebox .slide {
  transform-style: preserve-3d;
}

.lory.lory--slicebox .slide__content {
  position: relative;
}

.lory.lory--slicebox .slide__caption {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  z-index: 9;
}

/** Add shadow during animation. */
.lory.lory--slicebox .lory__frame::after {
  bottom: 0;
  box-shadow: 0 0 25px 45px rgba(0, 0, 0, 0.4);
  border-radius: 10%;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -35%;
  position: absolute;
  transform: rotateX(65deg);
  width: 70%;
  z-index: -1;
}

@media screen and (min-width: 64em) {
  .lory.lory--slicebox .slide .slide__caption {
    opacity: 0;
  }

  .lory.lory--slicebox .slide.is-current .slide__caption {
    opacity: 1;
    transition: opacity 1s ease-in 2s;
  }
}
