/**
 * @file
 */

html {
  /** https://developer.mozilla.org/en-US/docs/Web/CSS/scroll-behavior */
  scroll-behavior: smooth;
}

.is-arrow-down > .lory__arrows {
  bottom: 20px;
  display: block;
  height: 62px;
  left: 50%;
  margin: 0 0 0 -90px;
  position: absolute;
  top: auto;
  width: 180px;
}

.is-arrow-down > .lory__arrows button {
  background: none;
}

.is-arrow-down > .lory__arrows .lory__down {
  background: none;
  border-radius: 50%;
  height: 60px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  top: 50%;
  width: 60px;
}

.is-arrow-down > .lory__arrows .lory__down::before {
  content: '\2335';
  pointer-events: none;
}
