/**
 * @file
 * Provides vertical functionality.
 */

.lory.is-vertical .lory__frame {
  white-space: normal;
}

.lory.lory--nav.is-vertical .lory__frame {
  margin: 0;
}

.lory.lory--nav.is-vertical .lory__track {
  padding: 0;
}

/** Do not add padding here, else broken. */
.lory.lory--skin--reel.is-vertical .lory__frame {
  margin: 0;
  padding: 0;
}

/** Only reasonable for large monitors. */
@media (min-width: 767px) {
  .lory.is-vertical .is-grid > li {
    display: block;
    width: 100%;
  }

  /** See lory.grid.css. */
  .lory.is-vertical .lory__slide {
    display: block;
    width: 100%;
  }

  .lory.is-vertical .lory__prev,
  .lory.is-vertical .lory__next {
    height: 48px;
    left: 50%;
    line-height: 4px;
    margin-left: -24px;
    margin-top: 0;
    top: 0;
    transform: rotate(90deg);
    width: 48px;
  }

  .lory.is-vertical .lory__next {
    top: auto;
    bottom: 0;
  }

  /** Thumbnail position */
  .lory-wrapper--tn-left .lory--nav {
    float: left;
    left: 0;
    width: 140px;
  }

  .lory-wrapper--tn-left .lory--main {
    margin-left: 140px;
  }

  .lory-wrapper--tn-right .lory--nav {
    float: right;
    right: 0;
    width: 140px;
  }

  .lory-wrapper--tn-right .lory--main {
    margin-right: 140px;
  }
}
