/**
 * @file
 * This file makes each individual slide has consistent width.
 */

/**
 * Do not use padding on container and item, else breaking lory behavior. Use
 * .slide__content instead.
 */
.lory.lory--autowidth .is-grid {
  text-align: center;
}

.lory .is-grid > li {
  display: inline-block;
  float: none;
  height: auto;
  list-style: none;
  padding: 0;
  text-align: left;
  vertical-align: top;
  width: 100%;
}

.lory .is-grid--2 > li {
  width: 50%;
}

.lory .is-grid--3 > li {
  width: 33.33333%;
}

.lory .is-grid--4 > li {
  width: 25%;
}

.lory .is-grid--5 > li {
  width: 20%;
}

.lory .is-grid--6 > li {
  width: 16.66667%;
}

.lory .is-grid--7 > li {
  width: 14.28571%;
}

.lory .is-grid--8 > li {
  width: 12.5%;
}

.lory .is-grid--9 > li {
  width: 11.11111%;
}

.lory .is-grid--10 > li {
  width: 10%;
}

.lory .is-grid--11 > li {
  width: 9.09091%;
}

.lory .is-grid--12 > li {
  width: 8.33333%;
}
