/**
 * @file
 * Provides common CSS rules for 3d transition effects.
 *
 * Tips:
 * Always use small sizes for animated elements to minimize repainting.
 * Use media queries to adjust dimensions at its dependent skins.
 */

.lory.lory--d3,
.lory.lory--d3 .lory__frame {
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

.lory.lory--d3 .lory__track {
  display: block;
  height: 100%;
  left: 0;
  position: static;
  top: 0;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.lory.lory--d3 .lory__arrows {
  height: 1px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 9;
}

.lory.lory--d3 .lory__dots {
  position: relative;
}

.lory.lory--d3 .slide {
  backface-visibility: hidden;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  top: auto;
  transition: transform 1s;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.lory.lory--d3 .slide__caption {
  transition: opacity 0.4s ease-in .2s;
}

.lory.lory--d3 .slide__caption p {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .lory.lory--d3 .lory__arrows {
    width: 80%;
  }

  .lory.lory--d3 .slide__caption {
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .lory.lory--d3 .lory__arrows {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  /** Adjust it accordingly. */
  .lory.lory--d3 {
    max-width: 1140px;
  }
}
