{#
/**
 * @file
 * Default theme implementation for a lory wrapper.
 *
 * Available variables:
 * - items: A list of items containing main and thumbnail of lory.html.twig
 *   which can be re-position using option Thumbnail position.
 * - attributes: HTML attributes to be applied to the list.
 * - settings: An array containing the given settings.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'lory-wrapper',
    settings.skin ? 'lory-wrapper--' ~ settings.skin|clean_class,
    settings.navskin ? 'lory-wrapper--nav lory-wrapper--' ~ settings.navskin|clean_class,
    settings.navpos ? 'lory-wrapper--tn-' ~ settings.navpos|clean_class,
    settings.vertical ? 'lory-wrapper--v',
    settings.vertical_tn ? 'lory-wrapper--v-tn',
    'over' in settings.navpos ? 'lory-wrapper--tn-overlay lory-wrapper--tn-' ~ settings.navpos|replace({ 'over-' : '' })
  ]
%}
{% spaceless %}
  {% if settings.asNavFor %}
    <div{{ attributes.addClass(classes)|without('id') }}>
      {{ items }}
    </div>
  {% else %}
    {{ items }}
  {% endif %}
{% endspaceless %}
